html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 200px;
  height: 200px;
  cursor: pointer;
  border: 1px solid #000000;
  background: #c9e2e9; }
  #mainContent div, #mainContent img, #mainContent a {
    position: absolute; }

#bgExit {
  cursor: pointer;
  width: 200px;
  height: 200px;
  z-index: 1; }
