@import "_settings";
@import "_config";

body {
  margin: 0;
  padding: 0;
}

#mainContent {
  position: relative;

  overflow: hidden;

  width: $width;
  height: $height;
  cursor: pointer;
   border:1px solid $black;
   background:#c9e2e9;

  div,img,a {
    position: absolute;
  }
}

#bgExit {
  cursor: pointer;
  width: $width;
  height: $height;
  z-index: 1;
}
